<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CampHaven - Home</title>
</head>
<body>
    <h1>WELCOME TO CAMPHAVEN</h1>
    <h2><a href="/campgrounds/add">Add Your Camp</a></h2>
    <ul>
        <% for (let campground of campgrounds) { %>
            <li>
                <a href="/campgrounds/<%= campground._id %>"><%= campground.title %></a>
            </li>
        <% } %>
    </ul>
</body>
</html>